

*{
   margin :0;
   padding:0;

   box-sizing : border-box;
   font-family: "poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-position: center;
  background: url(https://cdn.pixabay.com/photo/2024/07/05/18/03/aromatherapy-8875377_1280.png) no-repeat;
  background-size : cover;
  background-position: center;

}

header{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  align-items: center;
  /* background-color: red; */
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.logo {

font-size: 2em;
font-weight:bolder;
color: #fff;
user-select: None;

}

.navigation a {

font-size: 2em;
color: #fff;
position: relative;
display: inline-block;
font-weight: 500;
text-decoration: none;
margin-left: 50px;
transition: transform 0.3s;
}

.navigation a::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background:#fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease;


}

.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .loginButton{
  border: 2px solid #fff;
  padding: 8px 20px;
  border-radius: 6px;
  background: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  font-weight: 500;
  margin-left: 50px;
  transition: transform 0.3s;



}

.navigation .loginButton:hover{
  background-color: #fff;
  color: coral;


}
label{
  color:#fff;
  font-size: 1.5em;

}

.input-box{

  margin: 20px 0;  
}

.input-box input{

   width:100%;
   padding:10px;
   height: 5px;
   font-size: 1.2em;
   border-radius:5px;
   border: none;

}

input[type = "checkbox"]{

  width:15px;
  height:15px;
  accent-color: skyblue;


}

.forgot-password{

   color:#fff;
   font-size: 1.2em;
   cursor: pointer; 
   margin-left: 50px;
   text-decoration: underline;
}

.forgot-password:hover{

  color:coral;

}